<!DOCTYPE html>
<html>
    <head>
        <title>Princess Adventures</title>

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <img id="banner" src="../images/banner.jpg" alt="banner"/>
                <h1>Princess Adventures</h1>
                <div class="navbar">
                    <a href="/"><span>Home</span></a>
                    <span>Search</span>
                    <span class="blank_nav"></span>
                    <span>Login</span>
                    <span><img src="/images/cart.png" alt="Cart" width="30" height="30"/></span>
                </div>
            </div>

            <div class="main">

                {% for action in adventures %}
                    <div class="adventure_box">
                        <a href="/adventure/{{ action.getId }}">
                        <img class="adventure_image" src="../images/{{ action.getId }}.jpg" alt="adventure image" />
                        </a>
                        <p><span class="adventure_name">{{ action.getName }}</span></p>
                        <p> Cost: <span class="cost">${{ action.getCost }}</span></p>
                        <div class="adventure_activities">
                            {% for event in action.getActivities %}
                                <img class="adventure_activities_icons" src="../images/{{ event.getName }}.png" alt="Icon" />
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="footer">

            </div>
        </div>
    </body>
</html>
